.centr_box {
	.about_box {
		@include LatoLight_font();
		background-color: #faf9ff;
		.about_title {
			display: flex;
			justify-content: space-between;
			padding-top: 80px;
			.title {
				color: #000;
				font-size: 48px;
				text-transform: uppercase;
			}
			span {
				a {
					font-size: 24px;
					line-height: 30px;
					vertical-align: middle;
					text-transform: uppercase;
					transition: 0.5s ease;
					color: #c1c1c1;
					text-decoration: none;
					@include LatoRegular_font();
					&:hover {
						color: #0023ff;
					}
					.fa-address-card {
				    	font-size: 40px;
				    	padding-left: 30px;
				    }
				}
			}
		}
		.acquaintance {
			margin-top: 80px;
			display: flex;
			align-items: center;
			margin-bottom: 100px;

			.img_about {
				flex-basis: 40%;
				position: relative;
				z-index: 10;
			}
			.info_about {
				background: #f0f0f0;
				flex-basis: 60%;
				padding: 100px 80px;
				margin-left: -50px;
				text-align: left;
				box-shadow: 0 0 5px #c1c1c1;
				
				.info_text {
					margin-bottom: 20px;
					font-size: 20px;
					color: #000;
					line-height: 26px;
				}
			}
		}
		.text_design_box {
			padding: 100px 0;
			margin-bottom: 100px; 
			box-shadow: 0 5px 15px #c1c1c1;
			background: #f0f0f0;
			width: 100%;
			background-size: cover;
			.title_design {
				text-align: center;
				font-size: 26px;
				@include LatoRegular_font();
				padding-bottom: 30px;
			}
			.info_design {
				text-align: left;
				font-size: 20px;
				color: #000;
				line-height: 26px;
			}
		}
		.history_box {
			.history_container {
				padding-bottom: 50px;
				.smalltitle {
					text-align: center;
					font-size: 26px;
					@include LatoRegular_font();
					margin-bottom: 30px;
				}
				.time_line_box	{
					position: relative;
					&::before {
					    content: '';
					    display: block;
					    height: calc(100% + 40px);
					    width: 1px;
					    background: #f0f0f0;
					    position: absolute;
					    left: 0;
					    right: 0;
					    margin: auto;
					    top: -20px;
					}
					.time_content {
						.time_line {
							display: flex;
							align-items: center;
							margin-top: 50px;
							&:after {
								content: '';
								width: 150px;
								display: block;
								position: absolute;
								height: 1px;
								background: #f0f0f0;
								left: 0;
								right: 0;
								margin: auto;
							}
							.left_box_time {
								margin-right: 100px;
								flex-basis: 0;
								flex-grow: 1;
								text-align: right;
							}
							.time {
									@include LatoRegular_font();
									letter-spacing: 1px;
									font-size: 20px;
									color: #0023ff;
								}
							.right_box_time {
								margin-left: 100px;
								flex-basis: 0;
								flex-grow: 1;
								text-align: left;
							}
							.info_time {
								font-size: 32px;
								color: #000;
								letter-spacing: 1px;
								padding: 30px 0;
							}
						}
					}
				}
			}
		}
		.freelance_box {
			padding: 100px 0;
			box-shadow: 0 0 15px #c1c1c1;
			background: #f0f0f0 url(../images/bg_block.jpg) no-repeat bottom;
			width: 100%;
			background-size: cover;
			.freelance_container {
				.smalltitle {
					text-align: center;
					font-size: 26px;
					@include LatoRegular_font();
					margin-bottom: 30px;
					color: #fff;
				}
				.about_why {
					display: flex;
					.left_block_why {
						flex-basis: 40%;
						background-size: cover;
						flex-grow: 1;
						padding-bottom: 55%;

					}
					.right_block_why {
						flex-basis: 60%;
						flex-grow: 1;
						p {
							text-align: left;
							font-size: 20px;
							color: #fff;
							line-height: 26px;
							padding: 50px 0 50px 50px;

						}
					}
				}
			}
		}
		.order {
			text-align: left;
			margin-left: 50px;
			a {
				width: 220px;
			}
		}
	}
}

@media (max-width: 1440px) {
	.centr_box .about_box .about_title .title {
		font-size: 32px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .info_time {
		font-size: 28px;
	}
}

@media (max-width: 1200px) {
	.centr_box .about_box .acquaintance .img_about img {
		width: 100%;
	}
	.centr_box .about_box .acquaintance .info_about .info_text {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.centr_box .about_box .acquaintance .info_about {
		padding: 50px 60px;
	}
	.centr_box .about_box .history_box .history_container .smalltitle {
		font-size: 24px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .info_time {
		font-size: 24px;
		padding: 0;
	}
	.centr_box .about_box .freelance_box .freelance_container .about_why .right_block_why p {
		font-size: 18px;
		line-height: 22px;
	}
}

@media (max-width: 992px) {
	.centr_box .about_box .acquaintance .info_about .info_text {
	    font-size: 16px;
	    line-height: 18px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .info_time {
		font-size: 22px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .time {
		font-size: 18px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .right_box_time {
		margin-left: 50px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .left_box_time {
		margin-right: 50px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line::after { 
		width: 80px;
	}
}

@media (max-width: 768px) {
	.centr_box .about_box .about_title {
		padding-top: 30px;
	}
	.centr_box .about_box .acquaintance {
		align-items: flex-start;
		.img_about {
			padding-top: 40px;
		}
	}
	.centr_box .about_box .acquaintance .info_about {
		padding: 40px 20px 40px 60px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .time {
		font-size: 14px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .info_time {
		font-size: 16px;
		margin-top: 30px;
	}
	.centr_box .about_box .freelance_box .freelance_container .about_why .left_block_why {
		flex-basis: 50%;
	}
	.centr_box .about_box .freelance_box .freelance_container .about_why .right_block_why {
		flex-basis: 50%;
	}
	.centr_box .about_box .order {
		margin-left: 0;
	}
	.about_box .btn_clic a {
		font-size: 14px;
	}
	.centr_box .about_box .order a {
		width: 180px;
	}
	.centr_box .about_box .order {
		text-align: center;
	}
	.centr_box .about_box .freelance_box {
		padding-top: 40px;
	}
	.centr_box .about_box .freelance_box .freelance_container .about_why .right_block_why p {
		padding-top: 0;
		padding-left: 10px;
	}
	.centr_box .about_box .freelance_box .freelance_container .about_why .right_block_why p {
	    font-size: 16px;
	    line-height: 18px;
	}
	.centr_box .about_box .freelance_box .freelance_container .about_why .left_block_why, .centr_box .about_box .freelance_box .freelance_container .about_why .right_block_why {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line {
		margin-top: 30px;
	}
}

@media (max-width: 576px) {
	.centr_box .about_box .acquaintance {
		display: block;
	}
	.centr_box .about_box .about_title .title {
		font-size: 26px;
	}
	.centr_box .about_box .acquaintance .info_about {
		margin-left: 0;
	}
	.centr_box .about_box .acquaintance {
		margin-top: 40px;
	}
	.centr_box .about_box .acquaintance .img_about {
		padding-top: 0;
		margin-bottom: 30px;
	}
	.centr_box .about_box .acquaintance .info_about {
		padding: 20px 10px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .right_box_time {
		margin-left: 20px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line .left_box_time {
		margin-right: 20px;
	}
	.centr_box .about_box .history_box .history_container .time_line_box .time_content .time_line::after { 
		width: 20px;
	}
	.centr_box .about_box .freelance_box .freelance_container .about_why .left_block_why {
		display: none;
	}
	.centr_box .about_box .freelance_box .freelance_container .smalltitle {
		color: #000;
	}
	.centr_box .about_box .freelance_box .freelance_container .about_why .right_block_why p {
		padding-left: 0;
		color: #000;
		text-align: center;
	}
	.centr_box .about_box .freelance_box {
		background: #f0f0f0;
	}
}
