.centr_box {
	.contact_box {
		background-color: #faf9ff;
		background: url(../images/header_bgg.png) no-repeat center;
		width: 100%;
		background-size: cover;
		@include LatoLight_font();

		.contact_title {
			display: flex;
			justify-content: space-between;
			padding-top: 80px;

			.title {
				color: #000;
				font-size: 48px;
				text-transform: uppercase;
			}
			span {
				a {
					font-size: 24px;
					line-height: 30px;
					vertical-align: middle;
					text-transform: uppercase;
					transition: 0.5s ease;
					color: #c1c1c1;
					text-decoration: none;
					@include LatoRegular_font();
					&:hover {
						color: #0023ff;
					}
					.fa-id-card-alt {
				    	font-size: 40px;
				    	padding-left: 30px;
				    }
				}
			}
		}
		.contact_info {
			width: 100%;
			padding-bottom: 80px;
			.sub_title {
				font-size: 40px;
				color: #000;
				padding-top: 50px;
				padding-bottom: 30px;
				width: 50%
			}
			.hello_class {
				font-size: 20px;
				color: #000;
				padding-bottom: 15px;
			}
			.contact_text {
				font-size: 20px;
				color: #000;
			}
		}
		.soc_contact_me {
			display: block;
			width: 50%;
			margin: 0 auto;
			font-size: 20px;
			color: #000;
			text-align: center;
		}
		.soc_box {
			display: flex;
			justify-content: center;
			div a {
				color: #c1c1c1;
				font-size: 60px;
				line-height: 45px;
				display: inline-block;
				margin: 80px 30px;
				transition: all 0.5s;
				&:hover {
					color: #0023ff;
					transition: all 0.5s;
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	.centr_box .contact_box .contact_title .title {
		font-size: 32px;
	}
	.centr_box .contact_box .contact_info .sub_title {
		font-size: 28px;
		padding-bottom: 0;
	}
}

@media (max-width: 992px) {
	.centr_box .contact_box .contact_info .sub_title {
		width: 100%;
		font-size: 24px;
		padding-top: 30px;
	}
	.centr_box .contact_box .contact_info {
		padding-bottom: 40px;
	}
	.form_block_popup label, .form_block label {
		font-size: 20px;
	}
	.form_block .input_box .input_block input[type="email"], .form_block .input_box .input_block input[type="text"] {
		height: 50px;
	}
	.form_block .submit_box .submit {
		font-size: 16px;
	}
	.form_block .textarea_box {
		margin-bottom: 30px;
	}
	.form_block .ok_clik {
		width: 100%;
	}
	.form_block .submit_box {
		padding-bottom: 30px;
	}
	.form_block .textarea_box textarea.textarea_message {
		height: 150px;
	}
	.form_block .submit_box .submit {
		width: 250px;
		padding: 15px 20px;
	}
	.form_block {
		padding-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.centr_box .contact_box .contact_title {
		padding-top: 30px;
	}
	.centr_box .contact_box .contact_info .sub_title {
		font-size: 20px;
	}
}

@media (max-width: 576px) {
	.centr_box .contact_box .contact_info .sub_title {
		font-size: 18px;
	}
}