.header {
	.centr_box {
		.contact_box {
			background: #f0f0f0;
			@include LatoLight_font();

			.contact_title {
				display: flex;
				justify-content: space-between;
				padding-top: 80px;

				.title {
					color: #000;
					font-size: 48px;
					text-transform: uppercase;
				}
				span {
					a {
						font-size: 24px;
						line-height: 30px;
						vertical-align: middle;
						text-transform: uppercase;
						transition: 0.5s ease;
						color: #c1c1c1;
						text-decoration: none;
						@include LatoRegular_font();
						&:hover {
							color: #0023ff;
						}
						.fa-project-diagram {
					    	font-size: 40px;
					    	padding-left: 30px;
					    }
					}
				}
			}
			.contact_info {
				width: 100%;
				padding-bottom: 50px;
				.sub_title {
					font-size: 40px;
					color: #000;
					padding-top: 50px;
					padding-bottom: 30px;
					width: 50%
				}
				.hello_class {
					font-size: 22px;
					color: #000;
					padding-bottom: 15px;
				}
				.contact_text {
					font-size: 20px;
					color: #000;
				}
			}
			.form_block {
				width: 100%;
				padding-bottom: 100px;
				.input_box {
					display: flex;
					margin-bottom: 30px;
					justify-content: space-between;
					.input_block {
						display: flex;
						flex-direction: column;
						width: 48.5%;
						input[type="text"], input[type="email"] {
							background: #fff;
							border: 1px solid #B9B9B9;
							box-shadow: 1px 0 15px #B9B9B9;
							border-radius: 0;
							color: #000;
							font-size: 20px;
							height: 50px;
							padding: 0 20px;
							width: 100%;
							height: 62px;
							box-sizing: border-box;
							transition: all 200ms ease-in-out;
							&:hover, &:active, &:focus {
								box-shadow: 1px 0 5px #B9B9B9;
								transition: all 200ms ease-in-out;
							}
						}
					}
				}
				.textarea_box {
					display: flex;
					flex-direction: column;
					margin-bottom: 50px;

					textarea.textarea_message {
					   background: #fff;
						border: 1px solid #B9B9B9;
						box-shadow: 1px 0 15px #B9B9B9;
						border-radius: 0;
						color: #000;
						font-size: 20px;
						height: 200px;
						padding: 20px;
						width: 100%;
						box-sizing: border-box;
						transition: all 200ms ease-in-out;
						&:hover, &:active, &:focus {
							box-shadow: 1px 0 5px #B9B9B9;
							transition: all 200ms ease-in-out;
						}
					}
				}
				.submit_box {
					padding-bottom: 50px;
					.submit {
						@include LatoLight_font();
						font-size: 18px; 
						display: inline-block;
						padding: 20px;
						text-align: center;
						color: #fff;
						background: #0023ff;
						border-radius: 5px;
						text-decoration: none;
						text-transform: uppercase;
						border: 1px solid #0023ff;
						width: 280px;
						cursor: pointer;
						transition: all 200ms ease-in-out;
						&:hover {
							border: 1px solid #0023ff;
							background: #fff;
							color: #000;
							@include LatoRegular_font();
							transition: all 200ms ease-in-out;
						}
					}
				}
				label {
					font-size: 24px;
					line-height: 30px;
					color: #c1c1c1;
					@include LatoRegular_font();
					cursor: pointer;
					padding-bottom: 15px;
					display: block;
					width: max-content;
				}
				.bottom_text {
					font-size: 20px;
					color: #000;
				}
			}
		}
	}
}