.left_box {
	width: 80px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	background: #fff;
	box-shadow: 1px 0 5px #B9B9B9;
	display: flex;
	flex-direction: column;
	align-items: center;
	.logo_box {
		margin-top: 20px;
		margin-bottom: 80px;
	}
	.vk, .ins, .tlg, .github {
		margin-bottom: 40px;
		a {
			font-size: 28px;
			color: #0023ff;
			opacity: 0.7;
			transition: all 0.3s;
			&:hover {
				opacity: 1;
				transition: all 0.3s;
			}
		}
	}
	.mail_block {
		position: absolute;
		bottom: 40px;
		transition: all 0.5s;
		z-index: 150;
		&:hover {
			opacity: 0.7;
			transition: all 0.5s;
		}
		.open_popup {
			background: rgba(0,35,255,0.7);
			margin-top: -35px;
			width: 195px;
			padding: 5px 10px;
			border-radius: 3px;
			color: #fff;
			@include LatoLight_font();
			position: absolute;
			text-decoration: none;
			z-index: 200;
		}
		.fa-envelope-open-text {
			font-size: 28px;
			color: #0023ff;
			opacity: 0.7;
		}
	}
}
.centr_box {
	.header_slider {
		.slid {
			height: 100vh;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.title {
				font-size: 100px;
				@include LatoThin_font();
				color: #000;
			}
			.sub_title {
				font-size: 32px;
				@include LatoLight_font();
				color: #000;
				padding-top: 100px;
				padding-bottom: 120px;
			}
			.btn_clic a {
				width: 260px;
			}
		}
	}
}
.right_box {
	.menu {
		.nav_btn {
			position: fixed;
			top: 20px;
			right: 20px;
			width: 42px;
			height: 42px;
			border-radius: 50%;
    		background-color: #fff;
			box-shadow: 1px 0 5px #B9B9B9;
			cursor: pointer;
			transition: all 0.5s;
			z-index: 90;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&:before {
				content: 'Menu';
				display: inline-block;
				position: absolute;
				left: -50px;
				top: 13px;
				color: #0023ff;
				@include LatoRegular_font();
			}
			
			&.nav-active .one {
			    -webkit-transform: rotate(45deg) translate(1px, -1px);
			        -ms-transform: rotate(45deg) translate(1px, -1px);
			         -o-transform: rotate(45deg) translate(1px, -1px);
			            transform: rotate(45deg) translate(1px, -1px); 
			}
			&.nav-active .two {
 				opacity: 0; 
 			}
 			&.nav-active .three {
			    -webkit-transform: rotate(-45deg) translate(1px, 1px);
			        -ms-transform: rotate(-45deg) translate(1px, 1px);
			         -o-transform: rotate(-45deg) translate(1px, 1px);
			            transform: rotate(-45deg) translate(1px, 1px); 
			}
			span {
				display: block;
				width: 12px;
				height: 2px;
				background-color: #0023ff;
				margin: 1px auto;
				transition: all 0.5s;
			}
		}
		.site_nav {
			position: fixed;
			top: 0;
			bottom: 0;
			right: -300px;
			width: 300px;
			background-color: #FFFFFF;
			box-shadow: -1px 0 5px #B9B9B9;
			z-index: 80;
			transition: 0.5s ease;
			overflow-y: scroll;
			&.side-active {
			    right: 0;
			}
			ul {
				text-align: right;
				margin-top: 70px;
				margin-right: 70px;
				li {
					margin-bottom: 10px;
					&.mobile_soc {
						display: none;
					}
					a {
					    position: relative;
					    line-height: 30px;
					    text-transform: uppercase;
					    transition: 0.3s ease;
					    color: #0023ff;
					    text-decoration: none;
					    @include LatoRegular_font();
					    transition: all 0.3s;
					    &:hover {
					    	opacity: 0.7;
					    	border-bottom: 1px solid #0023ff;
					    	transition: all 0.3s;
					    }
					    .fa-address-card, .fa-question-circle, .fa-project-diagram, .fa-user-clock, .fa-wpforms, .fa-blog, .fa-id-card-alt, .fa-dollar-sign {
					    	font-size: 40px;
					    	padding-left: 20px;
					    	width: 50px;
					    	text-align: center;
					    }
					}
					ul {
						display: flex;
						margin-right: 0;
						margin-top: 30px;
						justify-content: flex-end;
						li {
							display: inline-block;
							&:not(:last-child) {
							   margin-right: 25px;
							}
							a {
								font-size: 28px;
								color: #0023ff;
								opacity: 0.7;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	.wrapper {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
	.left_box {
		width: 50px;
	}
	.centr_box {
		padding-left: 50px;
	}
	.centr_box .header_slider .slid .title {
		font-size: 60px;
	}
	.centr_box .header_slider .slid .sub_title {
		font-size: 26px;
	}
	.right_box .menu .site_nav {
		width: 250px;
	}
}


@media (max-width: 1200px) {
	.wrapper {
		width: calc(100%-50px) !important;
	}
}


@media (max-width: 992px) {
	.wrapper {
		max-width: 768px !important;
	}
	.centr_box .header_slider .slid .sub_title {
	    font-size: 22px;
	    padding-left: 25px;
	    padding-right: 25px;
	}
}

@media (max-width: 896px) {
	.wrapper {
		max-width: 576px !important;
	}
	.left_box {
		display: none;
	}
	.right_box .menu .site_nav ul li.mobile_soc {
		display: block;
	}
	.centr_box {
		padding-left: 0;
	}
	.centr_box .header_slider .slid .title {
		font-size: 40px;
	}
	.centr_box .header_slider .slid .sub_title {
		font-size: 20px;
		padding-top: 10%;
		padding-bottom: 15%;
	}
	.btn_clic a {
		font-size: 14px;
		padding: 15px 20px;
	}
}

@media (max-width: 576px) {
	.wrapper {
		max-width: 100%;
		width: calc(100%-20px) !important;
	}
	.centr_box .header_slider .slid .sub_title {
		padding: 50px 50px 100px 50px;
	}
	.left_box {
		display: none;
	}
	.centr_box {
		padding-left: 0;
	}
	.right_box .menu .site_nav {
		width: 100%;
	}
	.right_box .menu .site_nav {
		right: -110%;
	}
	.centr_box .header_slider .slid .sub_title {
		padding: 50px 25px 100px 25px;
	}
}