.popup {
    	display:none;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: rgba(0, 0, 0, 0.7);
	.popup-content {
		position: fixed;
		left: 50%;
		top: 10%;
		background-color: #fff;
		transform: translateX(-50%);
		width: 25%;
		text-align: center;
		.popup-close {
			position: absolute;
			top: -15px;
			right: -20px;
			width: 20px;
			background-color: transparent;
			text-align: center;
			border: none;
			font-size: 50px;
			color: #fff; 
			cursor: pointer;
			outline: none;
		}
		.form_block_popup {
			padding: 30px;
			box-sizing: border-box;
			.input_box {
				flex-wrap: wrap;
				margin-bottom: 0;
				.input_block {
					width: 100%;
					padding-bottom: 15px;
					input[type="email"], input[type="text"] {
						height: 42px;
					}
				}
			}
			label {
				font-size: 20px;
				padding-bottom: 5px;
			}
			.ok_clik {
				width: 100%;
				a {
					font-size: 18px;
				}
			}
			.submit_box {
				padding-bottom: 30px;
			}
			.bottom_text, .ok_clik {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}	
}

@media (max-width: 992px) {
	.popup .popup-content {
		width: 50%;
	}
	.form_block_popup .textarea_box {
		height: 150px;
		margin-bottom: 30px;
	}
	.form_block_popup .submit_box .submit {
		font-size: 14px;
		padding: 15px 20px;
		width: 240px;
	}
	.popup .popup-content .form_block_popup .bottom_text, .popup .popup-content .form_block_popup .ok_clik {
		font-size: 16px;
		line-height: 18px;
	}
	.popup .popup-content .form_block_popup .ok_clik a {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.popup .popup-content {
		width: 70%;
	}
}

@media (max-width: 576px) {
	.popup .popup-content {
		width: 90%;
	}
	.popup .popup-content .popup-close {
		top: -12px;
		right: 20px;
		color: #000;
	}
	.form_block_popup .input_box .input_block:not(:last-child) {
		margin-bottom: 0;
	}
}