.centr_box {
	.price_container {
		display: flex;
		.left_block {
			background: #fff;
			width: 46%;
			box-shadow: 1px 0 15px #B9B9B9;
			z-index: 80;
			.project_slider {
				padding-left: 80px;
				.slid {
					img {
						max-width: 100%;
					}
				}
			}
		}
		.right_block {
			width: 54%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.project_tab_container {
				background: #f0f0f0;
				background: #f0f0f0 url(../images/header_bgg.png) no-repeat center;
				width: 100%;
				background-size: cover;
				width: 100%;
				@include LatoLight_font();
				height: 60%;
				.top_box {
					height: 100%;

					&.tab-item {
						display: none;
					}

					&.tab-0 {
						display: block;
					}

					h2.title {
						color: #000;
						font-size: 48px;
						padding-left: 80px;
						text-transform: uppercase;
						padding-top: 80px;
						padding-bottom: 120px;
						span {
							float: right;
							padding-right: 80px;
							a {
								 font-size: 24px;
							    line-height: 30px;
							    vertical-align: middle;
							    text-transform: uppercase;
							    transition: 0.7s ease;
							    color: #c1c1c1;
							    text-decoration: none;
							    @include LatoRegular_font();
							    &:hover {
							    	color: #0023ff;
							    }
							    .fa-dollar-sign {
							    	font-size: 40px;
							    	padding-left: 30px;
							    }
							}
						}
					}
					h1.title_project {
						color: #0023ff;
						font-size: 60px;
						text-transform: uppercase;
						padding-left: 80px;
						padding-bottom: 40px;
						display: block;
					}
					.sub_title {
						color: #a8a8a8;
						font-size: 24px;
						padding-left: 80px;
						padding-bottom: 50px;
						display: block;
					}
					.price_box {
						display: flex;
						padding-left: 80px;
						padding-right: 80px;
						padding-bottom: 80px;
						justify-content: space-between;
						align-items: center;
						.time_block {
							span {
								display: block;
							}
							.text {
								color: #000;
								font-size: 18px;
							}
							.time {
								color: #0023ff;
								font-size: 32px;
								@include LatoRegular_font();
							}
						}
						.price_block {
							span {
								display: block;
							}
							.text {
								color: #000;
								font-size: 18px;
							}
							.price {
								color: #0023ff;
								font-size: 32px;
								@include LatoRegular_font();
							}
						}
						.btn_clic {
							a {
								width: 180px;
								text-align: center;
							}
						}
					}
				}
			}
			
			
			.project_slider_nav {
				max-width: 90%;
				margin: 0 auto;
				background: #fff;
				height: 40%;
				display: flex;
				align-items: center;
				justify-content: center;
				.slid_nav {
					width: 33.33333%;
					cursor: pointer;
					
					
					img {
						width: 90%;
						height: auto;
						border: 1px solid #fff;
						box-shadow: 1px 1px 5px #0023ff;
					}
				}
				.slick-prev, .slick-next {
					display: none;
				}
			}
		}
	}
	.service_container {
		background: #f0f0f0 url(../images/header_bgg.png) no-repeat center;
		width: 100%;
		background-size: cover;
		.service_title {
			display: flex;
			justify-content: space-between;
			padding-top: 80px;
			padding-bottom: 80px;
			.title {
				color: #000;
				font-size: 48px;
				text-transform: uppercase;
				@include LatoLight_font();
			}
		}
		.info_project_text {
			color: #000;
			padding-top: 30px;
			padding-bottom: 50px;
			width: 500px;
			font-size: 20px;
			@include LatoLight_font();
		}
		.service_block {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-bottom: 50px;
			.service_list {
				background: #fff;
				width: 350px;
				box-shadow: 1px 1px 3px #c1c1c1;
				padding: 20px;
				box-sizing: border-box;
				position: relative;
				margin-bottom: 50px;
				transition: all 300ms ease-in-out;
				.list_clik {
					text-align: center;
					text-decoration: none;
					display: flex;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					.fa-strikethrough, .fa-wordpress-simple, .fa-medapps, .fa-shopify, .fa-sitemap, .fa-chart-bar {
						font-size: 60px;
						display: inline-block;
						padding-bottom: 20px;
						color: #0023ff;
					}
					.title_service {
						color: #0023ff;
						@include LatoRegular_font();
						font-size: 32px;
						padding-bottom: 20px;

					}
					.info_list {
						text-align: left;
						font-size: 20px;
						color: #000;
						line-height: 22px;
						@include LatoThin_font();
					}
				}
				&:hover {
					transition: all 300ms ease-in-out;
					box-shadow: 0 0 10px #c1c1c1;
					a {
						.overlay {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	.centr_box .service_container .service_title .title {
		font-size: 32px;
	}
	.centr_box .service_container .service_block .service_list {
		width: 300px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box h2.title {
		padding-bottom: 80px;
		font-size: 32px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box h1.title_project {
		font-size: 42px;
		padding-bottom: 20px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box .sub_title {
		font-size: 20px;
	}
	.centr_box .service_container .service_block .service_list .list_clik .info_list {
		font-size: 18px;
	}
}

@media (max-width: 992px) {
	.centr_box .price_container .right_block .project_tab_container .top_box h2.title {
		padding: 50px 0 50px 50px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box h1.title_project {
		font-size: 32px;
		padding-left: 50px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box .sub_title {
		font-size: 18px;
		padding-left: 50px;
		padding-bottom: 30px;
		padding-right: 20px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box .price_box {
		padding-left: 50px;
		padding-right: 20px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box .price_box .time_block .time {
		font-size: 18px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box .price_box .price_block .price {
		font-size: 18px;
	}
	.centr_box .price_container .right_block .project_tab_container .top_box .price_box .btn_clic a {
		width: 130px;
		padding: 15px 20px;
	}
	.centr_box .service_container .service_block .service_list {
		width: 230px;
		margin-bottom: 35px;
	}
	.centr_box .service_container .service_block .service_list .list_clik .title_service {
		font-size: 24px;
	}
	.centr_box .service_container .service_block .service_list .list_clik .info_list {
		line-height: 18px;
		font-size: 16px;
	}
	.centr_box .service_container .service_block .service_list {
		width: 32%;
	}
	.centr_box .service_container .service_block .service_list .list_clik .fa-chart-bar, .centr_box .service_container .service_block .service_list .list_clik .fa-medapps, .centr_box .service_container .service_block .service_list .list_clik .fa-shopify, .centr_box .service_container .service_block .service_list .list_clik .fa-sitemap, .centr_box .service_container .service_block .service_list .list_clik .fa-strikethrough, .centr_box .service_container .service_block .service_list .list_clik .fa-wordpress-simple {
			font-size: 40px;
	}
	.centr_box .service_container .service_block .service_list .list_clik .title_service {
		font-size: 22px;
	}
	.centr_box .service_container .service_block .service_list {
		padding: 10px;
	}
}

@media (max-width: 768px) {
	.centr_box .service_container .service_block .service_list {
		width: 48%;
	}
	.centr_box .service_container .service_title {
		padding-top: 30px;
	}
}

@media (max-width: 576px) {
	.centr_box .service_container .service_title .title {
		font-size: 26px;
	}
	.centr_box .service_container .service_title {
		padding-bottom: 30px;
	}
	.centr_box .service_container .service_block .service_list {
		width: 100%;
	}
}