.centr_box {
	.project_box {
		background-color: #faf9ff;
		background: url(../images/header_bgg.png) no-repeat center;
		width: 100%;
		background-size: cover;
		height: 100vh;
		@include LatoLight_font();

		.project_title {
			display: flex;
			justify-content: space-between;
			padding-top: 80px;

			.title {
				color: #000;
				font-size: 48px;
				text-transform: uppercase;
			}
			span {
				a {
					font-size: 24px;
					line-height: 30px;
					vertical-align: middle;
					text-transform: uppercase;
					transition: 0.5s ease;
					color: #c1c1c1;
					text-decoration: none;
					@include LatoRegular_font();
					&:hover {
						color: #0023ff;
					}
					.fa-project-diagram {
				    	font-size: 40px;
				    	padding-left: 30px;
				    }
				}
			}
		}

		.projects {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.project {
				width: 48%;
				height: 240px;
				background: #fff;
				margin-bottom: 35px;
				border: 1px solid #000;
				box-shadow: 0 0 5px #0023ff;
				position: relative;
				&:hover {
					box-shadow: 0 0 10px #0023ff;
					a {
						.overlay {
							opacity: 1;
						}
					}
				}
				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
					text-decoration: none;
					.img_box {
						max-width: 100%;
						height: 240px;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: center;
						img {
							height: auto;
						}
					}
					.info_box {
						span {
							display: block;
							padding: 10px 20px;
						}
						.title_site {
							font-size: 32px;
							color: #000;
						}
						.text_site {
							color: #0023ff;
							font-size: 18px;
						}	
					}
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	.wrapper {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 360px) {

}