.centr_box {
	.review_container {
		@include LatoLight_font();
		background: #f0f0f0 url(../images/bg_block.jpg) no-repeat top right;
		width: 100%;
		background-color: #faf9ff;
		.review_title {
			display: flex;
			justify-content: space-between;
			padding-top: 80px;
			.title {
				color: #000;
				font-size: 48px;
				text-transform: uppercase;
			}
			span {
				a {
					font-size: 24px;
					line-height: 30px;
					vertical-align: middle;
					text-transform: uppercase;
					transition: 0.5s ease;
					color: #c1c1c1;
					text-decoration: none;
					@include LatoRegular_font();
					&:hover {
						color: #0023ff;
					}
					.fa-user-clock {
				    	font-size: 40px;
				    	padding-left: 30px;
				    }
				}
			}
		}
		.grid_container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 100px;
			padding-bottom: 50px;
			.review {
				width: 48%;
				background: #fff;
				box-shadow: 0 0 5px #0023ff;
				border-radius: 25px;
				transition: 0.3s ease;
				padding: 20px;
				margin-bottom: 50px;
				box-sizing: border-box;
				position: relative;
				.title_review {
					@include LatoRegular_font();
					color: #000;
					font-size: 24px;
					padding-bottom: 10px;
				}
				.review_position {
					color: #c1c1c1;
					font-size: 20px;
					padding-bottom: 10px;
					display: block;
				}
				.review_text {
					p {
						color: #000;
						font-size: 20px;
						line-height: 26px;
						padding-bottom: 20px;
					}
				}
				.click_contact {
					color: #000;
					font-size: 18px;
					line-height: 26px;
					a {
						&:hover {
							text-decoration: none;
						}
					}
					
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	.centr_box .review_container .review_title .title {
		font-size: 32px;
		color: #fff;
	}
	.centr_box .review_container .grid_container .review .review_text p {
		font-size: 18px;
		line-height: 22px;
	}
	.centr_box .review_container .grid_container {
		padding-top: 80px;
	}
}

@media (max-width: 992px) {
	.centr_box .review_container .grid_container .review {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.centr_box .review_container .review_title {
		padding-top: 30px;
	}
}

@media (max-width: 576px) {
	.centr_box .review_container .grid_container {
		padding-top: 30px;
	}
}