<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Alex-Volkov.ru</title>
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>

	<header class="header">
		<div class="left_box">
			<div class="logo_box">
				<a href="#" class="logo"><img src="assets/images/logo.png" alt="Logo"></a>
			</div>
			<div class="vk">
				<a href="#" class="vk"><i class="fab fa-vk"></i></a>
			</div>
			<div class="ins">
				<a href="#" class="ins"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="tlg">
				<a href="#" class="tlg"><i class="fab fa-telegram-plane"></i></a>
			</div>
			<div class="github">
				<a href="#" class="github"><i class="fab fa-github"></i></a>
			</div>
		</div>
		<div class="centr_box">
			<div class="price_container">
				<div class="left_block">
					<div class="project_slider">
						<div class="slid"><img src="assets/images/project-single/img1.jpg" alt=""></div>
						<div class="slid"><img src="assets/images/project-single/img2.jpg" alt=""></div>
						<div class="slid"><img src="assets/images/project-single/img3.jpg" alt=""></div>
						<div class="slid"><img src="assets/images/project-single/img4.jpg" alt=""></div>
						<div class="slid"><img src="assets/images/project-single/img5.jpg" alt=""></div>
					</div>	
				</div>
				<div class="right_block">
					<div class="project_tab_container">
						<div class="top_box tab-item tab-0">
							<h2 class="title">Проект <span><a href="#">Услуги <i class="fas fa-dollar-sign"></i></a></span></h2>
							<h1 class="title_project">Название блока 1</h1>
							<span class="sub_title">Краткое описание сайта, пару строк про сайт и ещё что нибудь.</span>
							<div class="price_box">
								<div class="time_block">
									<span class="text">Время:</span>
									<span class="time">53 мин</span>
								</div>
								<div class="price_block">
									<span class="text">Цена:</span>
									<span class="price">450 руб</span>
								</div>
								<div class="btn_clic">
									<a href="#">Заказать сайт</a>
								</div>
							</div>
						</div>
						<div class="top_box tab-item tab-1">
							<h2 class="title">Проект <span><a href="#">Услуги <i class="fas fa-dollar-sign"></i></a></span></h2>
							<h1 class="title_project">Название блока 2</h1>
							<span class="sub_title">Краткое описание сайта, пару строк про сайт и ещё что нибудь.</span>
							<div class="price_box">
								<div class="time_block">
									<span class="text">Время:</span>
									<span class="time">52 мин</span>
								</div>
								<div class="price_block">
									<span class="text">Цена:</span>
									<span class="price">450 руб</span>
								</div>
								<div class="btn_clic">
									<a href="#">Заказать сайт</a>
								</div>
							</div>
						</div>
						<div class="top_box tab-item tab-2">
							<h2 class="title">Проект <span><a href="#">Услуги <i class="fas fa-dollar-sign"></i></a></span></h2>
							<h1 class="title_project">Название блока 3</h1>
							<span class="sub_title">Краткое описание сайта, пару строк про сайт и ещё что нибудь.</span>
							<div class="price_box">
								<div class="time_block">
									<span class="text">Время:</span>
									<span class="time">51 мин</span>
								</div>
								<div class="price_block">
									<span class="text">Цена:</span>
									<span class="price">450 руб</span>
								</div>
								<div class="btn_clic">
									<a href="#">Заказать сайт</a>
								</div>
							</div>
						</div>
						<div class="top_box tab-item tab-3">
							<h2 class="title">Проект <span><a href="#">Услуги <i class="fas fa-dollar-sign"></i></a></span></h2>
							<h1 class="title_project">Название блока 4</h1>
							<span class="sub_title">Краткое описание сайта, пару строк про сайт и ещё что нибудь.</span>
							<div class="price_box">
								<div class="time_block">
									<span class="text">Время:</span>
									<span class="time">50 мин</span>
								</div>
								<div class="price_block">
									<span class="text">Цена:</span>
									<span class="price">450 руб</span>
								</div>
								<div class="btn_clic">
									<a href="#">Заказать сайт</a>
								</div>
							</div>
						</div>
						<div class="top_box tab-item tab-4">
							<h2 class="title">Проект <span><a href="#">Услуги <i class="fas fa-dollar-sign"></i></a></span></h2>
							<h1 class="title_project">Название блока 5</h1>
							<span class="sub_title">Краткое описание сайта, пару строк про сайт и ещё что нибудь.</span>
							<div class="price_box">
								<div class="time_block">
									<span class="text">Время:</span>
									<span class="time">49 мин</span>
								</div>
								<div class="price_block">
									<span class="text">Цена:</span>
									<span class="price">450 руб</span>
								</div>
								<div class="btn_clic">
									<a href="#">Заказать сайт</a>
								</div>
							</div>
						</div>
					</div>				
					
					<div class="project_slider_nav">
						<div class="slid_nav"><img src="assets/images/project-single/img1.jpg" alt=""></div>
						<div class="slid_nav"><img src="assets/images/project-single/img2.jpg" alt=""></div>
						<div class="slid_nav"><img src="assets/images/project-single/img3.jpg" alt=""></div>
						<div class="slid_nav"><img src="assets/images/project-single/img4.jpg" alt=""></div>
						<div class="slid_nav"><img src="assets/images/project-single/img5.jpg" alt=""></div>
					</div>
				</div>
			</div>
			<div class="service_container">
				<div class="wrapper">
					<div class="service_title">
						<h1 class="title">Услуги</h1>
						<p class="info_project_text">Кликните на блок, чтобы заказать услугу. Для вашего удобства, в блоках расписано что предоставляет каждая из услуг.</p>
					</div>
					<div class="service_block">
						<div class="service_list">
							<a class="list_clik" href="#">
								<span class="overlay">
									<i class="fas fa-link"></i>
								</span>
								<h3 class="title_service">Front-end разработка</h3>
								<p class="info_list">Организованный и семантический HTML и CSS воплощают ваши замыслы в жизнь. Я предпочитаю кодирование с нуля, а не фреймворк, без каких-либо запутываний, чтобы гарантировать, что нет ненужного кода или ошибок. Я могу писать функции Javascript и jQuery с нуля, а также интегрировать популярные плагины jQuery. Вам не нужна CMS или вы создаете собственное приложение? Я также могу кодировать статические сайты PHP / HTML.</p>
							</a>
						</div>
						<div class="service_list">
							<a class="list_clik" href="#">
								<span class="overlay">
									<i class="fas fa-link"></i>
								</span>
								<h3 class="title_service">WordPress разработка</h3>
								<p class="info_list">Созданный на основе моей собственной темы для разработчиков, Super Hijinksified, я использую ACF Pro, чтобы предоставить вам расширенного настраиваемого администратора, который необходим для редактирования всего содержимого и изображений без каких-либо знаний кода, а также для специализированных функций PHP, шорткодов и плагинов.</p>
							</a>
						</div>
						<div class="service_list">
							<a class="list_clik" href="#">
								<span class="overlay">
									<i class="fas fa-link"></i>
								</span>
								<h3 class="title_service">Адаптивный <br>дизайн сайта</h3>
								<p class="info_list">Не нужно беспокоиться о том, как ваш веб-сайт выглядит на разных устройствах, я специализируюсь на том, чтобы максимально полно использовать настольные сайты до минимального размера для мобильных устройств и всего, что между ними. Согласованность ваших дизайнов с красивыми и удобными мобильными макетами является ключевым моментом, и акцент на мобильности удобен.</p>
							</a>
						</div>
						<div class="service_list">
							<a class="list_clik" href="#">
								<span class="overlay">
									<i class="fas fa-link"></i>
								</span>
								<h3 class="title_service">Woocommerce разработка</h3>
								<p class="info_list">Нужна функциональность электронной коммерции? У меня большой опыт интеграции WooCommerce в WordPress. Я могу помочь вам вывести ваш веб-сайт за рамки стандартных тем для корзины и интегрировать страницы магазина в ваши уникальные дизайны, а также предоставить вам лучшие доступные плагины.</p>
							</a>
						</div>
						<div class="service_list">
							<a class="list_clik" href="#">
								<span class="overlay">
									<i class="fas fa-link"></i>
								</span>
								<h3 class="title_service">Анимация на сайте</h3>
								<p class="info_list">Мне нравится использовать сочетание анимации CSS, Javascript и SVG для оживления веб-сайтов. Я обычно заканчиваю тем, что комбинирую все три для интересных эффектов, следя за доступностью и скоростью страницы. Я могу помочь дизайнерам использовать анимацию ответственным образом, который не будет раздражать пользователей на сайте.</p>
							</a>							
						</div>
						<div class="service_list">
							<a class="list_clik" href="#">
								<span class="overlay">
									<i class="fas fa-link"></i>
								</span>
								<h3 class="title_service">Доступность и семантика</h3>
								<p class="info_list">Семантика и доступность важны для стандартов кода. Описательные, но короткие классы и закомментированный код позволяют легко пересматривать позже. Правильное использование атрибутов alt, порядка структуры заголовка, кнопок и меток гарантирует, что пользователи вспомогательных устройств также могут легко использовать ваш веб-сайт. Все это также дает вашему сайту надлежащую основу SEO.</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="right_box">
			<div class="menu">
				<div class="nav_btn">
					<span class="one"></span>
					<span class="two"></span>
					<span class="three"></span>
				</div>
				<nav class="site_nav">
					<ul>
						<li><a href="#">Обо мне <i class="fas fa-address-card"></i></a></li>
						<li><a href="#">Вопрос-ответ <i class="fas fa-question-circle"></i></a></li>
						<li><a href="#">Проекты <i class="fas fa-project-diagram"></i></a></li>
						<li><a href="#">Услуги <i class="fas fa-dollar-sign"></i></a></li>
						<li><a href="#">Отзывы <i class="fas fa-user-clock"></i></a></li>
						<li><a href="#">Оставить заявку <i class="fab fa-wpforms"></i></a></li>
						<li><a href="#">Блог <i class="fas fa-blog"></i></a></li>
						<li><a href="#">Контакты <i class="fas fa-id-card-alt"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>
</body>
</html>