// #f9f9f9 Новый фон для сайта

.centr_box {
	padding-left: 80px;
	
}

.btn_clic { 
	a {
		@include LatoLight_font();
		font-size: 18px; 
		display: inline-block;
		padding: 20px;
		text-align: center;
		color: #fff;
		background: #0023ff;
		border-radius: 5px;
		text-decoration: none;
		text-transform: uppercase;
		border: 1px solid #000;
		transition: all 200ms ease-in-out;
		&:hover {
			border: 1px solid #0023ff;
			background: #fff;
			color: #000;
			@include LatoRegular_font();
			transition: all 200ms ease-in-out;
		}
	}
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.4);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	.fa-link {
		font-size: 42px;
		color: #fff;
	}
}

.info_project_text {
	padding-top: 30px;
	padding-bottom: 50px;
	width: 500px;
	font-size: 20px;
	@include LatoLight_font();
}
.form_block, .form_block_popup {
	width: 100%;
	padding-bottom: 100px;
	.input_box {
		display: flex;
		margin-bottom: 30px;
		justify-content: space-between;
		.input_block {
			display: flex;
			flex-direction: column;
			width: 48.5%;
			input[type="text"], input[type="email"] {
				background: #fff;
				border: 1px solid #fff;
				box-shadow: 0 0 5px #c1c1c1;
				border-radius: 0;
				color: #000;
				font-size: 20px;
				height: 50px;
				padding: 0 20px;
				width: 100%;
				height: 62px;
				box-sizing: border-box;
				transition: all 200ms ease-in-out;
				&:hover, &:active, &:focus {
					box-shadow: 0 0 3px #0023ff;
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
	.textarea_box {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;

		textarea.textarea_message {
		   background: #fff;
			border: 1px solid #fff;
			box-shadow: 0 0 5px #c1c1c1;
			border-radius: 0;
			color: #000;
			font-size: 20px;
			height: 200px;
			padding: 20px;
			width: 100%;
			box-sizing: border-box;
			transition: all 300ms ease-in-out;
			&:hover, &:active, &:focus {
				box-shadow: 0 0 3px #0023ff;
				transition: all 300ms ease-in-out;
			}
		}
	}
	.submit_box {
		padding-bottom: 50px;
		.submit {
			@include LatoLight_font();
			font-size: 18px; 
			display: inline-block;
			padding: 20px;
			text-align: center;
			color: #fff;
			background: #0023ff;
			border-radius: 5px;
			text-decoration: none;
			text-transform: uppercase;
			border: 1px solid #000;
			width: 280px;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			&:hover {
				border: 1px solid #0023ff;
				background: #fff;
				color: #000;
				@include LatoRegular_font();
				transition: all 200ms ease-in-out;
			}
		}
	}
	label {
		font-size: 24px;
		line-height: 30px;
		color: #000;
		@include LatoRegular_font();
		cursor: pointer;
		padding-bottom: 15px;
		display: block;
		width: max-content;
	}
	.bottom_text {
		font-size: 20px;
		color: #000;
		display: block;
		padding-bottom: 20px;
		@include LatoLight_font();
	}
	.ok_clik {
		font-size: 20px;
		line-height: 22px;
		color: #000;
		display: block;
		width: 50%;
		@include LatoLight_font();

		a {
			font-size: 20px;
			color: #000;
			text-decoration: none;
			@include LatoLight_font();
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.blog_pag {
	padding-bottom: 100px;
	display: flex;
	justify-content: center;
	.pagination {
		display: flex;
		align-items: center;
		li {
			margin: 5px;
			a {
				text-decoration: none;
				color: #000;
				font-size: 20px;
				padding: 8px 12px;
				border: 1px solid #0023ff;
				transition: 0.3s ease;
				&:hover {
					background: #0023ff;
					color: #fff;
					transition: 0.3s ease;
				}
				&.active {
					background: #0023ff;
					color: #fff;
					transition: 0.3s ease;
				}
				&.prev_arr, &.next_arr {
					border: none;
					font-size: 26px;
					color: #0023ff;
					width: 30px;
					height: 30px;
					transition: 0.3s ease;
					&:hover {
						color: #000;
						background: transparent;
						transition: 0.3s ease;
					}
				}
			}
		}
	}
}